/* Убедитесь, что контейнер карты занимает всю доступную площадь */
.App {
  /* height: 100vh; Это обеспечит, что страница займет всю высоту экрана */
  margin: 0;
}

.leaflet-container {
  height: 500px;
  width: 100%;
}
